<div class="sign-up d-flex  justify-content-between">
  
    <div class="  d-flex flex-column align-items-center justify-content-center" style="background-color:#83F8C0; height:100vh; width:30rem;color:white; border-radius:0px 100px 0px 0px">
    <div class="icon d-flex"> <%= image_tag("d-page icon",size: "150x150", :alt => "icon") %></div>
    <div class="title d-flex "> <p style="font-size:60px;">Visitorr</p></div>
    <div class="tag d-flex"><h6>MANAGE ALL VISITORS AT ONE PLACE</h6></div>
    </div>


  <div class="container d-flex flex-column  align-items-center justify-content-center" >
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <h2 class="d-flex align-items-center justify-content-center">Sign up!</h2>

      <div class="name-con  d-flex flex-row justify-content-between">
        <div class="field ">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true  , placeholder:"Enter your first name" , class:"form-control form-control-lg"%>
        </div>
        <div class="field  ">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autofocus: true  , placeholder:"Enter your last name", class:"form-control form-control-lg" %>
        </div>
      </div>
      <div class="field ">
        <%= f.label :mob %><br />
        <%= f.text_field :mob, autofocus: true,  placeholder:"Enter your phone number" ,class:"form-control form-control-lg" %>
      </div>

    <div class="field ">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder:"Enter your Email ID" , class:"form-control form-control-lg"%>
    </div>
    <div class="name-con  d-flex flex-row justify-content-between">
      <div class="field ">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" , placeholder:"Password" , class:"form-control form-control-lg"%>
       </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" , placeholder:"Confirm your password" , class:"form-control form-control-lg"%>
       </div>
    </div>

    <div class="actions pt-5 d-flex align-items-center justify-content-center">
        <%= f.submit "Sign up" , style:"padding : 10px 10px 10px 10px; background-color:#83F8C0 ; border:none ;border-radius:5px; color:white" %>
    </div>
<%= render "devise/shared/links" %>
  </div>
</div>
<% end %>