<div class="d-flex justify-content-between">
<div class="mt-2">
<%= form_for "", url: space_visitors_path, role: "search", method: :get do %>
<%= text_field_tag :search, @search_term, placeholder: "Seach..." %>
<%end%>
</div>
<div>
<%= link_to "Add New Visitor", new_space_visitor_path(@space) ,:class => "btn d-flex flex-row-reverse my-btn"%>
</div>
</div>

<% if @search_term.to_s != "" %>
  <i> <%= "Displaying search for " +"'" + @search_term + "'" %> </i> 
  <% else %>
<h2>All Visitors</h2>
<%end%>

<% if @visitors == [] %>

<div>
<h3> <i>No records found...</i></h3>
</div>
<%else%>
    <div class="row d-flex ms-1 me-1">
    <strong class="col">Name:</strong>
    <strong class="col">Flat:</strong>
    <strong class="col">To Meet:</strong>
    <strong class="col">Purpose:</strong>
    <strong class="col">Address:</strong>
    <strong class="col">Check in:</strong>
    <strong class="col">Check out:</strong>
</div>
<% @visitors.each do |visitor| %>
<div class="border row ms-1 mb-1 me-1" style="border-radius: 5px;">
  <p class="col">
    <%= visitor.name %>
  </p>
  <p class="col">
    <%= visitor.resident.flat %>
  </p>
   <p class="col">
    <%= visitor.resident.name %>
  </p>
  <p class="col">
    <%= visitor.reason %>
  </p>
  <p class="col">
    <%= visitor.address %>
  </p>
   <p class="col">
    <%= visitor.check_in.in_time_zone("Kolkata").strftime("%I:%M %p %m-%d") %>
  </p>
    <p class="col">
      <% if visitor.check_out == nil %>
          <%= button_to "Sign out", check_out_space_visitor_path(@space.id , visitor.id , check_out: Time.now), method: :patch , style:"color:red; text-decoration:underline" ,class:"btn" %>

          <%else%>
          <%= visitor.check_out.in_time_zone("Kolkata").strftime("%I:%M %p %m-%d") %>
      <% end %>
    </p>
      </div>
<%end%>
<div class="d-flex justify-content-center">
<%= paginate @visitors %>
</div>
<% end %>

