<% if @residents == [] %>
<h4> You must have atleast one Resident to add visitor Please Add residents to you're premises to continue...</h4>
<%= link_to "Add New Resident", new_space_resident_path %>
<% else %>
<h2>Add a Visitor:</h2>
<%= form_with model: [ @space, @residents, @space.visitors.build ] do |form| %> 
<div style="width:15rem"> 
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name , class:"form-control"%>
  </p>
  <p>
    <%= form.label :mob %><br>
    <%= form.number_field :mob, class:"form-control " %>
  </p>
 
    <%= form.label :address %><br>
    <%= form.text_field :address, class:"form-control " %>
  </p>
  <p>
    <%= form.label :Flat %><br>
    <%= form.select(:resident_id, Space.where(user_id: current_user.id).first.residents.collect { |resident| [ resident.flat, resident.id ] }, {include_blank: true},{ :class => 'form-control'})%>
   <p>
    <%= form.label :reason %><br>
    <%= form.text_field :reason , class:"form-control "%>
  </p>
  
  <p >
    <%= form.submit :"Add Visitor", class:"btn d-flex flex-row-reverse my-btn"%>
  </p>
</div> 
<% end %>
<% end %>
 