<% if @residents == [] %>
<h4> You must have atleast one Resident to add visitor Please Add residents to you're premises to continue...</h4>
<%= link_to "Add New Resident", new_space_resident_path %>
<% else %>
<h2>Add a Visitor:</h2>
<%= form_with model: [ @space,  @residents, @space.visitors.build ] do |form| %> 
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :mob %><br>
    <%= form.text_area :mob %>
  </p>
 
    <%= form.label :address %><br>
    <%= form.text_area :address %>
  </p>
  <p>
    <%= form.label :Flat %><br>
    <%
=begin%>
 <%= form.collection_select :resident_id, Resident.order(:flat),:id,:flat, include_blank: true %></p> 
<%
=end%>
    <%= form.select(:resident_id, Space.where(user_id: current_user.id).first.residents.collect { |resident| [ resident.flat, resident.id ] }, {include_blank: true}, { "data-placeholder": "Select Resident" }) %>
   <p>
    <%= form.label :reason %><br>
    <%= form.text_area :reason %>
  </p>
  
  <p >
    <%= form.submit :"Add Visitor", class:"btn d-flex flex-row-reverse my-btn"%>
  </p>
<% end %>
<% end %>
 