<% if @space != nil %>
  <h1><%= @space.name %></h1>

<p><%= @space.address %></p>
<div class="d-flex m-2">
<div class="d-flex m-2">
  <%= link_to "Edit", edit_space_path(@space) ,:class => "btn d-flex my-btn"%>
</div>
<div class="d-flex m-2">
  <%= link_to "Destroy", space_path(@space), data: {
    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } ,:class => "btn btn-danger"%>
</div>
</div>
<% end %>
<%if @space == nil %>
<%= link_to "Add a New Space to continue!", new_space_path %>
<%end%>



