<%# <%= form_with model: [ @space, @space.residents.build ] do |form| %> 
<%= form_for(@resident, :url => {:action => 'update'}) do |form| %>
<div style="width:15rem">
  <p>
    <strong>Name:</strong>
    <%= form.text_field :name, class:"form-control" %>
  </p>
  <p>
    <strong>Flat:</strong>
    <%= form.text_field :flat , class:"form-control"%>
  </p>
  <p>
    <strong>Mobile:</strong>
    <%= form.text_field :mob , class:"form-control"%>
  </p>
  <p>
    <strong>Email:</strong>
    <%= form.text_field :email, class:"form-control" %>
  </p>
  <p>
  <%= link_to "Back" , :back, class: 'btn  btn-secondary' %>
  <%= form.submit :Update, class: 'btn my-btn'%>
  </p>
</div>
</div>
<%end%>