<h2>Add residents to <%= @space.name%></h2>

<%= form_with model: [ @space, @space.residents.build ] do |form| %>
<div class="row">
<div class="col">
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name , class:"form-control form-control-lg"%>
  </p>
</div>
<div class="col">
  <p>
    <%= form.label :mob %><br>
    <%= form.number_field :mob, class:"form-control form-control-lg" %>
  </p>
</div>
</div>
<div class="row">
<div class="col">
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email, class:"form-control form-control-lg" %>
  </p>
</div>
<div class="col">
  <p>
    <%= form.label :flat %><br>
    <%= form.text_field :flat, class:"form-control form-control-lg" %>
  </p>
</div>
  <p>
    <%= form.submit "Create Resident" , class:"btn my-btn"%>
  </p>
<%end%>