<h2>Add residents to <%= @space.name%></h2>

<%= form_with model: [ @space, @space.residents.build ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :mob %><br>
    <%= form.text_area :mob %>
  </p>
  <p>
    <%= form.label :email %><br>
    <%= form.text_area :email %>
  </p>
  <p>
    <%= form.label :flat %><br>
    <%= form.text_area :flat %>
  </p>
  <p>
    <%= form.submit %>
  </p>
</div>
<%end%>