<h4>Belongs to <%= @resident.space.name %></h4>
<br/>
<div style="width:15rem">
    <strong>Name:</strong>
  <p class="form-control">
    <%= @resident.name %>
  </p>
<div>
    <strong>Flat:</strong>
<p class="form-control"> 
    <%= @resident.flat %>
  </p>
</div>
<div>
    <strong>Mobile:</strong>
<p class="form-control">
    <%= @resident.mob %>
  </p>
</div>
<div>
    <strong>Email:</strong>
<p class="form-control ">
    <%= @resident.email %>
  </p>
</div>
<%= link_to "Edit" , edit_space_resident_path(@resident.space, @resident) , class:"btn my-btn"%>
<%= link_to "Delete", [@resident.space, @resident], data: {
      turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                }, class:"btn btn-danger" %>